<h1>Snacks#index</h1>
<p>Find me in app/views/snacks/index.html.erb</p>

<ul>
	<% @snacks.each do |snack| %>
	<li> <%= link_to snack.name , snack_path(snack) %> </li>
	<% end %>
</ul>

<div><%= link_to "Create New Snack" , new_snack_path %></div>
<div><%= link_to "Home" , snacks_path %></div> 

